body{
    background-color: lavender;
    
}
h1{
    font-size: 30px;
}
.flexible-container{
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    margin-right: 30px;
    padding-left: 200px;
}
.cameraimg{
    width: 50%;
    /* height: 20px; */
    padding-left: 5%;
    padding-right: 20%;
}
/* botton-decoration */
.botton-link{
    text-decoration: none;
    background-image: linear-gradient(rgba(230, 50, 18, 0.719), rgb(172, 42, 64));
    color: white;
    padding: 10px 40px;
}
/* websit-name */
.website-part{
    
    padding: 5px;
    text-align: center;
    border-radius: 3px;
}
.website-part img{
    margin-left: 30px;
}

/* Popular Collection */

.containers{
    display: flex;
}

.collections{ 
   width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    box-shadow: 5px 5px 40px gray;
}
.collections img{
    width: 224px;
    height: 104px;
       
}
.collection-info{
    display: flex;
    justify-content: space-between;
}
/* decoration star */
.fa-star.rating{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.Microphone{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    box-shadow: 5px 5px 40px gray;
}
/* section-mirrorless */
.product{
    display: flex;
}
.mirrorless{
    display: flex;
    text-align: center;
    width: 10%;
    height: 5%;
    padding: 30px;
    margin: 100px;
    
}
/* footer decoration */
footer{
    text-align: center;
    color: white;
    background-color: rgba(1, 1, 15, 0.836);

}